body {
  font-family: 'Roboto', sans-serif;
  margin: 0px !important;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  margin-top: 20px;
  color: white;
  padding: 5px 20px;
}

.banner {
  background-image: url("images/banner.jpg");
  width: 100%;
  background-size: cover;
  color: white;
  text-align: center;
}

.opacity {
  background-color: rgba(0,0,0,0.3);
  padding: 250px 0px;
}

.btn-red {
  color: white;
  padding: 14px;
  background-color: red;
  border-radius: 6px;
  font-size: 20px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-20 {
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 200px;
}

.card {
  margin: 20px;
  height: 90%;
  width: 30%;
  background-color: #468680;
  text-align: center;
}

.card a {
  margin-top: 30px;
}

#linkedin {
  color: white;
}
